{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky{% endblock %}
{% block sidebar_content %}
<ul class="nav nav-list">
  <li class="nav-header">服务列表</li>
  {% for serv in distinct_servs %}
  <li><a href="/deploy/{{ serv }}">{{ serv }}</a></li>
  <li class="divider"></li>
  {% endfor %}
  <li class="nav-header">IP列表</li>
  {% for ip in distinct_ips %}
  <li><a href="#">{{ ip }}</a></li>
  <li class="divider"></li>
  {% endfor %}

</ul>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, Deployer</h1>
</div>
{% if serv_info %}
<p><b>服务名：{{ serv_info.servname }}</b></p>
<form method="POST">
    {% for ip in serv_info.servip %}
    <p><input name="ips" value="{{ ip }}"  type="checkbox">{{ ip }}</p>
    {% endfor %}
    <button  name="deploy" type="submit" value="auto_deploy" class="btn btn-default">auto_deploy</button>
    <button  name="deploy" type="submit" value="manual_deploy" class="btn btn-default">manual_deploy</button>
</form>
{% endif %}
{% endblock %}
