{% extends "base.html" %}
{% block title %}Flasky{% endblock %}
{% block sidebar_content %}
<ul class="nav nav-list">
  <li class="nav-header">查询维度</li>
  <li><a href="/">服务维度</a></li>
  <li class="divider"></li>

  <li><a href="/server">机器维度</a></li>
</ul>
{% endblock %}

{% block page_content %}
<div style="padding: 0px 0px 10px;">
	<form class="bs-example bs-example-form" role="form" method="POST">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
				<div class="input-group">
					<input type="text" class="form-control" name="select" value="" list="iplist" placeholder="service ip">
                    <datalist id="iplist">
                        {% for ip in all_ips %}
                            <option>{{ ip }}</option>
                        {% endfor %}
                    </datalist>
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
	</form>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Num</th>
                <th>IP</th>
                <th>Servname</th>
                <th>Consulname</th>
                <th>Port</th>
            </tr>
            </thead>
            <tbody>
                {% for i in range(ips_info|length) %}
                    <tr>
                        <td rowspan="{{ ips_info[i].servs|length }}">{{ i + 1 }}</td>
                        <td rowspan="{{ ips_info[i].servs|length }}">{{ ips_info[i].ip }}</td>
                        <td>{{ ips_info[i].servs[0].servname }}</td>
                        <td>{{ ips_info[i].servs[0].consulname }}</td>
                        <td>{{ ips_info[i].servs[0].port }}</td>
                    </tr>
                    {% for serv in ips_info[i].servs[1:] %}
                        <tr>
                            <td>{{ serv.servname }}</td>
                            <td>{{ serv.consulname }}</td>
                            <td>{{ serv.port }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
